#app-features-container{
    margin: 1em;
}

#features-changes-container{
    text-align: center;
}

#features-changes-container input[type=button]{
    display: block;
    text-align: center;
    width: 100%;
    margin: 1.5em 0;
    border: none;
    background: none;
    border-bottom: var(--light-gray) 2px solid;
    padding: 0.8em;
    cursor: pointer;
    font-family: "Rubik Light", sans-serif;
}

.button-clicked{
    border-bottom: var(--soft-red) 2px solid;
}

#features-changes-container input[type=button]:hover{
    border-bottom: var(--soft-red) 2px solid;
}

#feature-image{
    width: 100%;
}

@media screen and (min-width: 1100px){

    #features-information-container{
        margin: 0 4em;
    }

    #features-changes-container{

    }

    #features-changes-container #question-divider-feature{
        float: right;
        margin-left: 1em;
    }

    #features-changes-container #gamification{
        float: right;
    }

    #features-changes-container input[type=button]{
        display: inline-block;
        width: 49%;
    }

    #feature-explanation-container{
        padding: 2em;
    }

    #feature-image{
        float: left;
        width: 48%;
    }
}