@import url(/styles/header/header.css);
@import url(/styles/main-app-introduction/main-app-introduction.css);
@import url(/styles/main-app-features/main-app-features.css);
@import url(/styles/main-app-faq/main-app-faq.css);
@import url(/styles/main-app-update-form/main-app-update-form.css);
@import url(/styles/footer/footer.css);

*{
    font-family: "Rubik Regular", sans-serif;
    font-size: 18px;

    --shadow-color: #c5c5c5;
    --light-gray: #cccccc;
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --grayish-blue-lighter: hsl(231, 23%, 83%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --dark-gray: #282828;
    --white: #fff;
    --error-red: rgb(153, 0, 0);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    position: relative;
    padding-bottom: 60px; 
    box-sizing: border-box;
}

.section-title{
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
}

.section-description{
    font-size: 16px;
    line-height: 1.5em;
    color: var(--grayish-blue);
    text-align: center;
}

.clean{
    clear: both;
}

.logo{
    display: inline;
}

.logo img{
    width: 1.5em;
    border-radius: 2em;
    box-shadow:  1px 1px 3px var(--shadow-color);
    margin-right: 0.5em;
}

.logo h1{
    display: inline;
}

.logo h1 a{
    text-decoration: none;
    color: var(--soft-blue);
    font-size: 30px;
    font-family: "Rubik Light";
}

@font-face {
    font-family: "Rubik Regular";
    src: url(/fonts/rubik/static/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Rubik Light";
    src: url(/fonts/rubik/static/Rubik-Light.ttf);
}